.home-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.profile-img {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	object-fit: cover;
	margin-left: 100px;
	margin-right: 50px;
	opacity: 0;
	transform: translateY(50px);
	animation: slideIn 1s ease forwards;
	pointer-events: none;
}

.name-title-container {
    display: flex;
    flex-direction: column;
}

.name {
  	font-size: 35px;
  	font-weight: bold;
  	margin-bottom: 10px;
  	opacity: 0;
  	transform: translateX(-50px);
  	animation: slideIn 1s ease forwards;
  	animation-delay: 0.5s;
}

@keyframes slideIn {
	from {
    	opacity: 0;
    	transform: translateX(-50px);
  	}
  	to {
    	opacity: 1;
    	transform: translateX(0);
  	}
}

.title {
	opacity: 0;
  	font-size: 18px;
  	overflow: hidden;
  	white-space: nowrap;
  	animation: typing 1s steps(30, end) forwards;
  	animation-delay: 1.2s;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

@media (max-width: 768px) {
    .home-content {
        flex-direction: column;
        align-items: center;
    }

    .profile-img {
        margin-right: 0;
        margin-bottom: 20px;
        margin-left: 0;
    }

    .name-title-container {
        text-align: center;
    }
}